body {
	background-color: black;
}

#artist1 {
	position: absolute;
	top: 50px;
	left: 100px;
	width: 250px;
	height: 30px;
}

#artist2 {
	position: absolute;
	top: 50px;
	left: 800px;
	width: 250px;
	height: 30px;
}

#vs {
	font-family: 'Permanent Marker', cursive;
	font-size: 30px;
	color: yellow;
	text-shadow: 2px 2px #FF0000;
	position: absolute;
	top: 50px;
	left: 550px;
}

button {
	font-family: 'Permanent Marker', cursive;
	background-color: white;
	padding:5px 10px;
	position: absolute;
	top: 120px;
	left: 540px; 
}

#name1 {
	color: orange;
	font-size: 30px;
	position: absolute;
	top: 250px;
	left: 100px; 
}

#name2 {
	color: orange;
	font-family: 'Permanent Marker', cursive;
	font-size: 30px;
	position: absolute;
	top: 250px;
	left: 800px; 
}

#pop1 {
	font-family: 'Permanent Marker', cursive;
	color: white;
	font-size: 20px;
	position: absolute;
	top: 310px;
	left: 100px; 
}

#pop2 {
	font-family: 'Permanent Marker', cursive;
	color: white;
	font-size: 20px;
	position: absolute;
	top: 310px;
	left: 800px;
}

#follow1 {
	font-family: 'Permanent Marker', cursive;
	color: white;
	font-size: 20px;
	position: absolute;
	top: 345px;
	left: 100px; 
}

#follow2 {
	font-family: 'Permanent Marker', cursive;
	color: white;
	font-size: 20px;
	position: absolute;
	top: 345px;
	left: 800px;
}

#type1 {
	font-family: 'Permanent Marker', cursive;
	color: white;
	font-size: 20px;
	position: absolute;
	top: 380px;
	left: 100px; 
}

#type2 {
	font-family: 'Permanent Marker', cursive;
	color: white;
	font-size: 20px;
	position: absolute;
	top: 380px;
	left: 800px; 
}

#genre1 {
	font-family: 'Permanent Marker', cursive;
	color: white;
	font-size: 20px;
	position: absolute;
	top: 415px;
	left: 100px; 
}

#genre2 {
	font-family: 'Permanent Marker', cursive;
	color: white;
	font-size: 20px;
	position: absolute;
	top: 415px;
	left: 800px;
}

#img1 img {
	width: 160px;
	height: 130px;
	position: absolute;
	top:100px;
	left: 100px;
}

#img2 img {
	width: 160px;
	height: 130px;
	position: absolute;
	top:100px;
	left: 800px;
}

#total1 {
	font-family: 'Permanent Marker', cursive;
	color: white;
	font-size: 20px;
	position: absolute;
	top: 500px;
	left: 100px; 
}

#total2 {
	font-family: 'Permanent Marker', cursive;
	color: white;
	font-size: 20px;
	position: absolute;
	top: 500px;
	left: 800px;
}

#winner{
	font-family: 'Permanent Marker', cursive;
	font-size: 30px;
	color: yellow;
	text-shadow: 2px 2px #FF0000;
	position: absolute;
	top: 550px;
	left: 450px;
}

#result {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 500px;
	left: 100px;
}

#result button {
	background-color: white;
	padding:5px 10px;
	position: absolute;
	top: 40px;
	left: 100px; 
}